<html>
<head>
    <title>Arrivals</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27859053-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript">

    var URL = "/agencies/mbta/routes/747/directions/747_1_var0/stops/1807/predictions/";
    var secondsToUpdate = 31;

    function poll() {
        $.getJSON(URL, handleJSON);
    }

    function tick() {
        if (secondsToUpdate <= 0) {
            secondsToUpdate = 31;
        } else {
            secondsToUpdate--;
            $("#time-to-update").text(secondsToUpdate);
            setTimeout(tick, 1000);
        }
    }

    function handleJSON(data) {
        estimation = data["estimations"];

        $("#created").html('');
        $("#expires").html('');
        $("#predictions").html('');
        $("#stopname").text(estimation["stop_title"]);

        var elem = $('<li></li>');
        $(elem).text("Expires @ " + estimation["expires"]);
        $("#expires").append(elem);

        var elem = $('<li></li>');
        $(elem).text("Created @ " + estimation["created"]);
        $("#created").append(elem);

        var counter = 0;
        predictions = estimation.predictions;
        for(i in predictions) {
            prediction = predictions[i];
            var elem = $('<li><div class="route"></div><div class="time"></div><div class="run"></div><div class="human_readable_time"></div></li>');
            $(elem).find('.route').text(estimation.route_title);

            var caption;
            var minutes = prediction.minutes;
            if (minutes == 0) {
                caption = prediction.is_departure ? "Departing" : "Arriving";
            } else {
                caption = minutes + " min";
            }
            $(elem).find('.time').text(caption);

            $(elem).find('.run').text(prediction.dir_title);
            $(elem).find('.human_readable_time').text("Will be there @ " + prediction.eastern_time);
            $("#predictions").append(elem);

            counter += 1;
            if (counter == 3) {
                break;
            }
        }

        if (counter == 0) {
            $("#predictions").html('<li><div class="none">No Arrivals Predicted</div></li>');
        }

        setTimeout(poll, 30000);
        tick();
    }

    $(document).ready(function() {
        $.getJSON(URL, handleJSON);
    });
    </script>
</head>

<body>
    <h1 id="stopname"></h1>

    <ul id="predictions">
    </ul>

    <div id="bottom">
        <ul id="created">
        </ul>

        <p class="misc">This page will <strong>automatically refresh</strong> (refreshing in <span id="time-to-update">30</span> seconds)</p>
        <ul id="expires">
        </ul>
    </div>
</body>
</html>
