<!DOCTYPE html>
<html>
    <head>
        <title>.: bus-ng.10ur.org | {{ status }} :.</title>
        <meta charset="utf-8">
        <meta name="robots" content="NOINDEX, NOFOLLOW">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    </head>
    <body>
        <br/>
        <div class="container">
            <div class="hero-unit">
                <h1>Bus-NG</h1>
                <br/>
                <br/>
                <pre>
{{ exception }}
                </pre>
                <br/>
                <br/>
                <p><a href="/" role="button" class="btn btn-info" data-toggle="modal">Return to homepage</a></p>
            </div>
        </div>
    </body>
</html>
